.el-menu {
    border-right: solid 0px #e6e6e6;
}


.el-submenu .el-menu-item {
    font-size: 14px;
    padding-left: 50px !important;
    &.is-active{
        background-color: rgba(225,243,254,0.6) !important;

    }
}

// 修改一级菜单栏样式
li.el-submenu {
    &.is-active.is-opened .el-submenu__title{
        background-color: #e1f3fe !important
    }

}


.el-col el-col-12{
    margin-top: 30px;
}

.el-row {
    margin-bottom: 20px;
  
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .el-col {
    border-radius: 4px;
  }
  
  .bg-purple-dark {
    background: #99a9bf;
  }
  
  .bg-purple {
    background: #d3dce6;
  }
  
  .bg-purple-light {
    background: #e5e9f2;
  }
  
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
  
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  
  .clearfix:after {
    clear: both;
  }